@use '../../../scss/colors';
@use '../../../scss/functions';
@use '../../../scss/dimensions';
@use '../../../scss/timing';

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: dimensions.$topBarHeight;
  padding: 0 functions.toRem(50);
  display: flex;
  align-items: center;
  transition: timing.$default;
  backdrop-filter: blur(0);
  background: rgba(colors.$white, 0);
  &--scrolled {
    backdrop-filter: blur(10px);
    background: rgba(colors.$white, 0.1);
    height: functions.toRem(70);
  }
  &__rightSlot {
    margin-left: auto;
  }
}
