@use '../../../scss/spacing';
@use '../../../scss/dimensions';

.stack {
  display: flex;
  align-items: center;
  @each $name, $value in spacing.$spacing {
    &.#{$name} {
      gap: dimensions.$baseRem * $value * 2;
    }
  }
  &.vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
