@use '../../../scss/functions';
@use '../../../scss/mixins';
@use '../../../scss/timing';

$width: functions.toRem(600);

.modal {
  color: currentColor;
  &__overlay {
    position: fixed;
    z-index: 1000;
    inset: 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.7);
    transition: timing.$default;
    ~ [style*='z-index'] {
      z-index: 2000 !important;
    }
    &:has(~ [class*='overlay']) {
      background: rgba(0, 0, 0, 0);
    }
    &[data-state='open'] {
      @include mixins.fadeIn();
    }
    &[data-state='closed'] {
      @include mixins.fadeOut();
      animation-delay: 250ms;
    }
  }
  &__content {
    &:has(~ [class*='overlay']) {
      z-index: 1000;
    }
    &[data-state='open'] {
      @include mixins.appearFromBottom();
    }
    &[data-state='closed'] {
      @include mixins.disappearToBottom();
    }
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $width;
    z-index: 1001;
    overflow-y: auto;
    max-height: 95vh;

    .close {
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      margin-right: -1rem;
      svg {
        width: 2rem;
      }
    }
  }
}
