@use '../../../scss/colors';
@use '../../../scss/dimensions';
@use '../../../scss/functions';
@use '../../../scss/font';
@use '../../../scss/mixins';
@use '../../../scss/timing';
@use 'sass:math';

.text-field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: dimensions.$baseRem;
  row-gap: 0;
  width: 100%;
  &--readonly {
    pointer-events: none;
  }
  &__label {
    opacity: 0.7;
    width: var(--label-width, auto);
  }
  &__input {
    @include mixins.formField();
    &-wrapper {
      position: relative;
      flex: 1 1;
    }
    &::placeholder {
      opacity: 0.2;
    }
    &--as-text {
      border-color: transparent;
      background-color: transparent;
    }
  }
  &__icon {
    position: absolute;
    right: dimensions.$baseRem * 2;
    top: 50%;
    translate: 0 -50%;
    display: flex;
    align-items: center;
    opacity: 0.5;
  }
  &__error {
    color: colors.$danger;
    font-size: functions.toRem(font.$sizeS);
    padding-right: dimensions.$baseRem;
    width: 100%;
    text-align: right;
  }
}
