$primary: #4a3ee6;
$secondary: #4fada6;
$tertiary: #f5bd5f;

$success: $secondary;
$danger: #ea4650;

$white: #fff;
$black: #000;
$lightGray: #d9d9d9;

$bgDarkMode: #171717;

$textLight: $white;
$textDark: $black;

$facebook: #1877f2;
$discord: #5865f2;
$twitter: #1da1f2;
$linkedin: #0a66c2;
$google: #ea4335;

$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'danger': $danger,
  'white': $white,
  'black': $black,
  'facebook': $facebook,
  'twitter': $twitter,
  'linkedin': $linkedin,
  'discord': $discord,
  'google': $google,
);
